<div class="container row bottom-margin-10">
	<div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check1" value="1" name="topping">
        <label class="custom-control-label" for="check1">치즈</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check2" value="2" name="topping">
        <label class="custom-control-label" for="check2">햄(7개)</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check3" value="3" name="topping">
        <label class="custom-control-label" for="check3">계란(2알)</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check4" value="4" name="topping">
        <label class="custom-control-label" for="check4">메추리알(5알)</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check5" value="5" name="topping">
        <label class="custom-control-label" for="check5">떡추가</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check6" value="6" name="topping">
        <label class="custom-control-label" for="check6">오뎅추가</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check7" value="7" name="topping">
        <label class="custom-control-label" for="check7">순대(300g)</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check8" value="8" name="topping">
        <label class="custom-control-label" for="check8">베이컨</label>
    </div>
</div>

<label>* 튀김</label>
<div class="container row bottom-margin-10">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check9" value="9" name="topping">
        <label class="custom-control-label" for="check9">튀김만두(4개)</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check10" value="10" name="topping">
        <label class="custom-control-label" for="check10">김말이(3개)</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check11" value="11" name="topping">
        <label class="custom-control-label" for="check11">야채튀김(1개)</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check12" value="12" name="topping">
        <label class="custom-control-label" for="check12">순살치킨(5개)</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check13" value="13" name="topping">
        <label class="custom-control-label" for="check13">치즈스틱(3개)</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check14" value="14" name="topping">
        <label class="custom-control-label" for="check14">모듬튀김(야채튀김1개+김말이1개+만두2개)</label>
    </div>
</div>

<label>* 면</label>
<div class="container row">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check15" value="15" name="topping">
        <label class="custom-control-label" for="check15">우동사리</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check16" value="16" name="topping">
        <label class="custom-control-label" for="check16">라면사리</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check17" value="17" name="topping">
        <label class="custom-control-label" for="check17">당면사리</label>
    </div>
    &nbsp; &nbsp;
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check18" value="18" name="topping">
        <label class="custom-control-label" for="check18">중국당면</label>
    </div>
    &nbsp; &nbsp;
</div>